* {
	padding: 0;
	margin: 0;
}

.top-bar {
	height: 50px;
	background-color: #000;
	width: 100%;
}

.userImg {
	width: 45px;
	height: 45px;
	margin-left: 5px;
	border-radius: 50%;
	cursor: pointer;
}

.Sign-out,.Results,.home {
	float: right;
	height: 48px;
	line-height: 48px;
	padding: 0 20px;
	color: #fff;
	display: block;
	border: none;
	background: none;
	border-radius: 15px;
}
.Sign-out:hover {
	background-color: red;
	cursor: pointer;
}
.Results:hover,.home:hover {
	background-color: blue;
	cursor: pointer;
}
.exam-table {
	margin-top: 10px;
	width: calc(100% - 20px);
	border-collapse: collapse;
	border: 2px solid grey;
	margin-left: 10px;
}
.headre {
	background-color: green;
	color: #fff;
	height: 30px;
}
table, th, td {
	border-top: 2px solid grey;
  	border-bottom: 2px solid grey;
}
.exam-table button {
	padding: 5px;
	background-color: orange;
	color: #fff;
	border: none;
	border-radius: 5px;
	width: calc(100% - 2px);
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
}	
.exam-table button:hover {
	background-color: blue;
	cursor: pointer;
}	

.table {
	position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 10px;
}
.row {
	background-color: green;
	border-radius: 10px;
	padding: 5px;
	padding-left: 10px;
	margin-right: 10px;
	margin-left: 10px;
	color: #fff;
	margin-bottom: 5px;
}
.row button {
	width: 50px;
	float: right;
	padding: 5px;
	background-color: orange;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin-top: -50px;
	margin-right: 10px;
}
.row button:hover { 
	background-color: blue;
	cursor: pointer;
}
.active {
	background-color: orange;
}
.online {
	float: right;
	background-color: red;
	margin-top: -50px;
	margin-right: 80px;
	padding: 4px;
	border-radius: 5px;
}
.disable:hover {
	cursor: not-allowed;
}
.hide {
	display: none;
}


